<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <title>Simple twig example</title>

</head>

<body>

<h2>Hello {{ name }}!</h2>

<p>
    <img src="images/dompdf_simple.png" style="float: right; margin: 0.5em;"/>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed non
    risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec,
    ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula
    massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci
    nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit
    amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat
    in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero
    pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo
    in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue
    blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus
    et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed
    pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales
    hendrerit.</p>


</body>
</html>
